@use '../lib.scss';

.contact {
  &__socials {
    display: flex;
    row-gap: 2rem;
    column-gap: 3rem;
    margin-top: 1rem;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  &__social a,
  &__social div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin-top: 0.5rem;
      text-align: center;
    }

    span {
      color: lib.$orange;
    }
  }
}
