@use '../lib.scss';

.footer {
  margin-top: auto;

  &__wrapper {
    background: url('../../assets/rainbow.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 0.75rem;

    @media screen and (min-width: lib.$md) {
      padding: 0.75rem 2rem;
      margin-top: 6rem;
    }

    @media screen and (min-width: lib.$lg) {
      padding: 0.75rem 2rem;
      margin-top: 8rem;
    }
  }

  &__socials {
    display: flex;
    gap: 0.5rem;

    @media screen and (min-width: lib.$md) {
      gap: 1rem;
    }
  }

  &__social {
    svg {
      height: 2rem;
      width: 2rem;
    }

    &:hover {
      svg {
        fill: #e9e8e8;
      }
    }
  }

  &__mail {
    margin: 0;
    color: lib.$white;
    a {
      @include lib.link;
    }
  }
}
