@use '../lib.scss';

header {
  position: relative;
  padding: 1rem 0;
  border-bottom: 1px solid #0000001a;

  @media screen and (min-width: lib.$lg) {
    padding-bottom: 1rem;
  }
}

.nav {
  @include lib.container;

  &__skip {
    left: 0.25rem;
    top: 0.25rem;
    transform: translateX(-1000%);
    position: absolute;
    padding: 1rem;
    font-size: 1rem;

    &:focus {
      transform: translateX(0%);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-button {
    line-height: 0;
    transition: 0.1s background-color;
    border-radius: 0.2rem;

    &:hover {
      background-color: #00000013;
    }

    img {
      width: 2rem;
    }

    &--close {
      position: absolute;
      left: 1rem;
      top: 1rem;
    }

    &--open {
      @media screen and (min-width: lib.$lg) {
        display: none;
      }
    }
  }

  &__logo {
    @include lib.header-logo;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    transform: translateX(20%);
    transition: 0.1s all;

    @media screen and (min-width: lib.$lg) {
      margin: 0 auto;
    }
  }

  &__mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00000024;
    overflow-x: hidden;
    z-index: 100;
    display: flex;

    .nav__link--donate {
      a {
        @include lib.rainbow-fill;
        font-family: lib.$roman-serif;
        font-size: 1.5rem;

        &:hover {
          transform: scale(1.05);
          text-shadow: none;
        }
      }
    }

    @media screen and (min-width: lib.$lg) {
      display: none;
    }
  }

  &__mobile-nav-inner {
    overflow-y: auto;
    background-color: lib.$white;
    padding: 6rem 0;
    width: 20rem;
    max-width: 100vw;
  }

  &__desktop-nav {
    display: none;

    .nav__link--donate {
      a {
        @include lib.button;
        font-size: 1rem;
      }
    }

    @media screen and (min-width: lib.$lg) {
      display: block;
    }
  }

  &__link-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    justify-content: flex-start;

    @media screen and (min-width: lib.$lg) {
      flex-direction: row;
      gap: 1.5rem;
      justify-content: center;
      margin-top: 1rem;
    }
  }

  &__link {
    a {
      display: block;
      border-radius: 0.2rem;
      font-size: 1rem;
      text-align: center;
      transition: 0.1s all;
      padding: 0.5rem;

      &:hover {
        background-color: #0000000f;
      }
    }

    &--selected {
      a {
        color: lib.$orange;
      }
    }
  }

  &__language-switcher {
    position: relative;
  }

  &__language-button {
    color: lib.$light-orange;
    position: relative;
    padding: 0.3rem 0.3rem 0.3rem 1.8rem;
    border-radius: 0.2rem;

    &:hover {
      background-color: #0000000f;
    }

    &::before {
      content: '';
      background-image: url('../assets/icons/language.svg');
      background-size: contain;
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      position: absolute;
      left: 0.3rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__language-list {
    position: absolute;
    border: 1px solid #00000016;
    margin-top: 0.5rem;
    top: 100%;
    right: 0;
    background-color: lib.$white;
    border-radius: 0.3rem;
    background-color: #fff9f3;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  &__other-language {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    white-space: nowrap;
    color: lib.$light-orange;
    border-radius: 0.2rem;
    transition: 0.1s background-color;

    &:hover {
      background-color: #0000000c;
      border-radius: 0.2rem;
    }
  }
}
