// Breakpoints
$sm: 360px;
$md: 744px;
$lg: 1024px;
$xl: 1440px;

// Colours
$black: #434343;
$orange: #fb7922;
$light-orange: #fb7922b0;
$blue: #509dd4;
$white: #ffffff;

// Fonts
$roman-sans: 'Noto Sans', sans-serif;
$chinese-sans: 'Noto Sans SC', sans-serif;
$roman-serif: 'Pacifico', cursive;
$chinese-serif: 'ZCOOL KuaiLe', sans-serif;

@mixin rainbow-fill {
  background-image: url('../assets/rainbow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin header-logo {
  font-family: $roman-serif;
  font-size: 1.5rem;
  text-decoration: none;
  @include rainbow-fill;
}

// Grid
@mixin container {
  padding: 0 1rem;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (min-width: $md) {
    padding: 0 2rem;
  }
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;

  @media screen and (min-width: $md) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem;
  }

  @media screen and (min-width: $lg) {
    gap: 2rem;
  }
}

// Utility classes
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hidden {
  display: none !important;
}
