@use './reset.scss';
@use './lib.scss';
@use './components/nav.scss';
@use './components/footer.scss';
@use './pages/home.scss';
@use './pages/past-events.scss';
@use './pages/contact.scss';

html {
  font-size: 16px;
  color: lib.$black;
  background-color: lib.$white;

  @media screen and (min-width: lib.$lg) {
    font-size: 18px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &.body-roman {
    font-family: lib.$roman-sans;
  }

  &.scroll-freeze {
    overflow: hidden;

    @media screen and (min-width: lib.$lg) {
      overflow: auto;
    }
  }
}

.main-wrapper {
  @include lib.container();
  @include lib.grid();
  margin-top: 3rem;
}

p {
  @include lib.body;
  max-width: 40rem;
}

h1 {
  @include lib.h1;
  grid-column: 1 / span 4;

  @media screen and (min-width: lib.$md) {
    grid-column: 1 / span 12;
  }

  @media screen and (min-width: lib.$lg) {
    grid-column: 2 / span 7;
  }
}

h2 {
  @include lib.h2;
  margin-top: 2rem;
}

h3 {
  @include lib.h3;
}

.page-content {
  grid-column: 1 / span 4;

  @media screen and (min-width: lib.$md) {
    grid-column: 1 / span 12;
  }

  @media screen and (min-width: lib.$lg) {
    grid-column: 2 / span 7;

    &--wide {
      grid-column: 2 / span 8;
    }
  }

  @media screen and (min-width: lib.$xl) {
    &--wide {
      grid-column: 2 / span 7;
    }
  }
}

.promo-image {
  width: 100%;
  max-width: 40rem;
  margin-top: 1rem;
}

.link {
  @include lib.link;
}
